/*-- Fonts --*/

@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
/*-- HTML and Body --*/

html {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin-bottom: 66px;
    /* Margin bottom by footer height */
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*-- Special Styles --*/

p, ul {
    font-family: 'Poppins', sans-serif;
}

.section-heading {
    margin-bottom: 2rem;
    padding: 0;
    color: #000;
}

section {
    min-height: 100vh;
}

.button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

a:hover {
    text-decoration: none;
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.invisible {
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
}

.visible {
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

/*-- Animations --*/

.fromTopIn {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease;
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromBottomIn, .fromTopOut {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromTopOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
    opacity: 0
}

.fromBottomIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromBottomOut, .fromLeftIn {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromBottomOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0
}

.fromLeftIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromLeftOut, .fromRightIn {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromLeftOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
    opacity: 0
}

.fromRightIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromRightOut, .scaleUpIn {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromRightOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
    opacity: 0
}

.scaleUpIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
}

.scaleDownIn, .scaleUpOut {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.scaleUpOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    opacity: 0
}

.scaleDownIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
}

.scaleDownOut {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease;
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(.7, .7);
    -moz-transform: scale(.7, .7);
    -ms-transform: scale(.7, .7);
    -o-transform: scale(.7, .7);
    transform: scale(.7, .7);
    opacity: 0
}

/*-- Nav --*/

nav a img {
    width: 8%;
    padding: 6px;
}

/*-- Intro --*/

.intro-content {
    padding: 2rem;
    margin: 0;
    text-align: left;
}

.intro-grey {
    padding: 8rem;
    margin: auto;
    background-color: #e9ecef;
    height: 100vh;
}

@media screen and (min-width: 375px) and (max-width: 667px) and (orientation : portrait){
    .intro-grey {
        padding: 2rem;
        margin-top: 3rem;
    }
    .intro-grey h1, .intro-yellow h1 {
        font-size: 3rem;
    }

    .intro-yellow {
        padding: 4rem !important;
    }
}

.intro-yellow {
    padding: 8rem;
    margin: auto;
    background-color: #f0ad4e;
    height: 100vh;
    color: #fafafa;
}

.about-description {
    font-size: 1rem;
}

.profile-picture {
    width: 55%;
    padding: 2rem 0 2rem 0;
}

/*-- About --*/

.about-container {
    background-color: #fafafa;
    color: #000;
    margin: auto;
}

.about-container img {
    border-radius: 50%;
    width: 100%;
    padding: 3rem;
}

/*-- Projects --*/

.project-row {
    background-color: #fafafa;
}

.project-description {
    background-color: #fafafa;
    color: #000;
    margin: auto;
}

.projects-container {
    margin: auto;
    padding: 3rem;
}

.project-image img {
    width: 100%;
    height: auto;
}

/*-- Skills --*/

/*-- Education --*/

.certificate img {
    width: 100%;
    height: auto;
}

.certificate-details {
    background-color: #fafafa;
    color: #000;
    padding: 2rem;
    margin: 8rem 1rem;
}

.certificate-details ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*-- Contact --*/

.social-links a {
    padding: 10px;
}

.social-links a i {
    width: 35px;
    height: 35px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 11px;
    text-align: center;
    color: #000;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links a i:hover {
    transform: scale(1.2);
    background: #fafafa;
    color: #38FF81;
}