/*-- Fonts --*/

@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
/*-- HTML and Body --*/

html {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin-bottom: 66px;
    /* Margin bottom by footer height */
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*-- Special Styles --*/

p, ul {
    font-family: 'Poppins', sans-serif;
}

.section-heading {
    margin-bottom: 2rem;
    padding: 0;
    color: #000;
}

section {
    min-height: 100vh;
}

.button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

a:hover {
    text-decoration: none;
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.invisible {
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
}

.visible {
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

/*-- Animations --*/

.fromTopIn {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease;
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromBottomIn, .fromTopOut {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromTopOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    transform: translate(0, -10px);
    opacity: 0
}

.fromBottomIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromBottomOut, .fromLeftIn {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromBottomOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
    opacity: 0
}

.fromLeftIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromLeftOut, .fromRightIn {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromLeftOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(-10px, 0);
    -moz-transform: translate(-10px, 0);
    -ms-transform: translate(-10px, 0);
    -o-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
    opacity: 0
}

.fromRightIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1
}

.fromRightOut, .scaleUpIn {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.fromRightOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    transform: translate(10px, 0);
    opacity: 0
}

.scaleUpIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
}

.scaleDownIn, .scaleUpOut {
    transition: opacity 1s ease, -webkit-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease
}

.scaleUpOut {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
    opacity: 0
}

.scaleDownIn {
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1
}

.scaleDownOut {
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease, -moz-transform 1s ease;
    -o-transition: transform 1s ease, opacity 1s ease, -o-transform 1s ease;
    transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease, -moz-transform 1s ease, -o-transform 1s ease;
    -webkit-transform: scale(.7, .7);
    -moz-transform: scale(.7, .7);
    -ms-transform: scale(.7, .7);
    -o-transform: scale(.7, .7);
    transform: scale(.7, .7);
    opacity: 0
}

/*-- Nav --*/

nav a img {
    width: 8%;
    padding: 6px;
}

/*-- Intro --*/

.intro-content {
    padding: 2rem;
    margin: 0;
    text-align: left;
}

.intro-grey {
    padding: 7rem;
    margin: auto;
    background-color: #e9ecef;
    height: 100vh;
    color: #000;
    font-size: 1.5rem;
}


.intro-yellow {
    padding: 7rem;
    margin: auto;
    background-color: #f0ad4e;
    height: 100vh;
    color: #fafafa;
}

.about-description {
    font-size: 1.5rem;
}

.profile-picture {
    padding: 2rem 0 2rem 0;
}

.about-content {
    margin-top: 15vh;
}

/*-- Projects --*/

.project-row {
    background-color: #fafafa;
}

.project-description {
    background-color: #fafafa;
    color: #000;
    margin: auto;
}

.projects-container {
    margin: auto;
    padding: 5rem 5rem;
}

.project-image img {
    width: 100%;
    height: auto;
}


/*-- Contact --*/

#contact {
    background-color: #000;
    color: #fafafa;
    max-height: 50vh;
}

.contact {
    margin: auto;
    padding: 3rem;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: start;
}

.social-links li {
    padding-right: 1rem;
    font-size: 1.2rem;
}

.social-links i {
    padding-right: 10px;
    
}

.email {
    color: #02B875;
}

.email:hover{
    color: #33fdb2;
}

.copyright {
    margin: auto;
}




@media screen and (min-width: 300px) and (max-width: 812px) and (orientation: portrait){
    .intro-grey {
        padding: 2.5rem;
        font-size: 1rem;
    }

    .intro-yellow {
        padding: 3rem;
    }

    .about-description {
        font-size: 1.1rem;
    }

    .projects-container {
        margin: auto;
        padding: 2rem 3rem;
        text-align: center;
    }

    .badge {
        margin: 5px 0 5px 0;
    }

    #contact {
        max-height: 100vh;
    }

    .profile-picture {
        padding: 1.2rem 0;
    }

    .project-image img {
        width: 75%;
        margin: 1rem 0 1rem 0;
    }

    .profile-description {
        margin-top: 25vh;
    }

    .about-content {
        margin-top: 2vh;
    }
}

@media screen and (min-width: 300px) and (max-width: 812px) and (orientation: landscape){
    #contact {
        min-height: 100vh;
    }

    .projects-container {
        margin: auto;
        padding: 2rem 3rem;
        text-align: center;
    }

    .badge {
        margin: 5px 0 5px 0;
    }

    .project-image img {
        width: 75%;
        margin: 1rem 0 1rem 0;
    }

    .intro-grey, .intro-yellow {
        padding: 2.5rem;
        font-size: 1rem;
    }

    .about-description {
        font-size: 1rem;
    }

    .profile-description {
        margin-top: 18vh;
    }

    .about-content {
        margin-top: 5vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    .intro-yellow {
        padding: 8rem;
    }

    .about-description, .intro-grey {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .about-description {
        font-size: 1.2rem;
    }

    .projects-container {
        margin: auto;
        padding: 2rem 0;
        text-align: center;
    }
    
    .badge {
        margin: 5px 0 5px 0;
    }
}